**eval**

 -  eval means evaluate

 -  it is related to math family

 -  which means it works only on num representation as strings

 -  it not works on english letters

 -  evalue will convert the respective data type which is user enter

 -   if user enter 10 in quotes it will convert into 10

 -   if user enter 10.5 in quotes it will convert into 10.5

In [ ]:
int('10')   #10
int('10.5)  #f


float('10')   #10
float('10.5)  #10.5

In [5]:
eval('10'),eval('10.7')

(10, 10.7)

In [7]:
n1=eval(input("enter var1") ) #n1= '100'
n2=eval(input("enter var2"))  #n2= '200'
n1+n2   # '100' + '200' = '300'

enter var1 100
enter var2 200

300

In [9]:
L=eval(input("len of rectangle:"))
b=eval(input("brd of rectangle:"))
a=L*b
print(a)

len of rectangle: 10
brd of rectangle: 20

200

In [11]:
n1=eval(input("enter var1") ) #n1= '100'
n2=eval(input("enter var2"))  #n2= '200'
n3=eval(input("enter var3"))
avg=(n1+n2+n3)/3
print (f"average of numbers is: {avg}")

enter var1 10
enter var2 20
enter var3 30

average of numbers is: 20.0

In [13]:
str1=input("enter name: ")
str2=input("enter age: ")
str3=input("enter city:")

print(f"my name is {str1} iam {str2} years old i came from {str3}")

enter name:  sreya
enter age:  20
enter city: alwal

my name is sreya iam 20 years old i came from alwal

In [15]:
r=eval(input("radius:"))
pi=eval(input("pi :"))
a=pi*r*r
print(f"area of circle is:{a}")

radius: 10
pi : 3.14

area of circle is:314.0