In [1]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
print(10)
print(20)

10
20

In [7]:
print(10),print(20)

10
20

(None, None)

In [9]:
10,20

(10, 20)

In [11]:
print(a,b)

10 20

In [13]:
print(30,'Nareshit','Hyd')
#3 values

30 Nareshit Hyd

In [19]:
num1=100
num2=200
add=num1+num2

#the add of 100nand 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of", num1," and", num2," is", add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100  and 200  is 300

In [27]:
name="python"
age=10
city="hyd"
#my name is python im 10 years old and came from hyd
print("my name is", name,"im",age, "years old and came from",city)

my name is python im 10 years old and came from hyd

$format$

In [38]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is python im 10 years old and came from hyd

In [59]:
num1=100
num2=200
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300

In [54]:
x=45
y=30
sub=x-y
mul=x*y
div=x/y
avg=(x,y,z)/2

print("the subraction of {} and {} is {}".format(x,y,sub))
#
print("the multipilcation of {} and {} is {}".format(x,y,mul))
#
print("the division of {} and {} is {}".format(x,y,div))
#
print("the average of {},{},{} is {}".format(x,y,z,avg))

NameError: name 'z' is not defined

**f srting method**

In [83]:
num1=100
num2=200
add=num1+num2
print("the addition of {num1} and {num2} is {add}")
print(f"the addition of {num1} and {num2} is {add}")       #f string = formatting the stringg

the addition of {num1} and {num2} is {add}
the addition of 100 and 200 is 300

In [101]:
x=45
y=30
sub=x-y
mul=x*y
div=x/y
avg=(x+y+z)/3

print(f"the subraction of {x} and {y} is {sub}")
#
print(f"the multipilcation of {x} and {y} is {mul}")
#
print(f"the division of {x} and {y} is {div}")
#
print(f"the average of {x},{y},{z} is {avg}")

the subraction of 45 and 30 is 15
the multipilcation of 45 and 30 is 1350
the division of 45 and 30 is 1.5
the average of 45,30,20 is 31.666666666666668

**round**

In [97]:
# print()
# type()
# int()
# float()
# bool()
# round()

# CTRL+ A
# CTRL+/

In [99]:
print(round(10.777777))
print(round(10.777777,3))
print(round(10.777777,1))

11
10.778
10.8

In [103]:
x=45
y=30

avg=(x+y+z)/3

print(round(avg,3))

31.667

In [ ]:
*end*

In [2]:
print(10,end="++++>")
print(20)

10++++>20

In [16]:
print('hello')
print('how')
print('are')
print('uuuu')
##  

print('hello',end=" ")
print('how',end=" ")
print('are',end=" ")
print('uuuu')

hello
how
are
uuuu
hello how are uuuu

**sep**

In [21]:
print(10,20,30,sep="+++++")

10+++++20+++++30

In [25]:
#take the radius of circle and cal area of circle

r=5

pi=3.14

area=pi*r*r

print(f"The area of circle is {area}")

The area of circle is 78.5

In [5]:
##Area of right angle triangle

b=10
h=20

area=0.5*h*b

print(f"The area of right angle traingle is :{area}")

The area of right angle traingle is :100.0

In [13]:
# bill amount and tip amount

bill=2000

tip=100

total_bill= bill + tip

print(f"the amount of total bill is: {total_bill}")

the amount of total bill is: 2100

In [11]:
##Area of Rectanle

b=10
l=40

area=l*b

print("The area of rectangle is :{}".format(area))

The area of rectangle is :400

**input**

 -  in above we provided the value the input the inbuilt function

 -  using input the user can provide any value

In [17]:
input

 **note**

 -   whenever we see bound method or function we forgot the brackets

In [22]:
input()

 python

'python'

In [24]:
input()

 10

'10'

In [26]:
c=input()

 456

In [28]:
c

'456'

In [30]:
name=input()

 nareshit

In [32]:
name

'nareshit'

In [36]:
c

'456'

In [42]:
x=input()

 50

In [44]:
x

'50'

In [56]:
n1=input()  #n1= '100'
n2=input()  #n2= '200'
n3=input()  #n3= '300'

 100
 200
 300

In [58]:
n1,n2,n3

('100', '200', '300')

In [1]:
input("enter valuee:")

enter valuee: 21

'21'

In [7]:
n1=input("enter var1")  #n1= '100'
n2=input("enter var2")  #n2= '200'
n1+n2   # '100' + '200' = '100200'

enter var1 100
enter var2 200

'100200'

In [4]:
n1=input("enter fruit")
n2=input("is")
n3=input("declare")
n1+n2+n3

enter fruit g
is ug
declare y

'gugy'

In [ ]:
n1=input("enter var1")  #n1= '500'
n2=input("enter var2")  #n2= '600'
n1+n2   # '500' + '600' = '500600'

In [1]:
n1=int('500')
n2=int('600')
n1+n2

1100

In [5]:
n1=int(input("enter var1") ) #n1= '100'
n2=int(input("enter var2"))  #n2= '200'
n1+n2   # '100' + '200' = '300'

enter var1 100
enter var2 200

300

In [9]:
n1=input("enter var1")  #n1= '100'
n2=input("enter var2")  #n2= '200'
int(n1)+int(n2)   # ont('100') + int('200') = '100200'

enter var1 100
enter var2 200

300

**eval**

 -  eval means evaluate

 -  it is related to math family

 -  which means it works only on num representation as strings

 -  it not works on english letters

 -  evalue will convert the respective data type which is user enter

 -   if user enter 10 in quotes it will convert into 10

 -   if user enter 10.5 in quotes it will convert into 10.5

In [ ]:
int('10')   #10
int('10.5)  #f


float('10')   #10
float('10.5)  #10.5

In [14]:
eval('10'),eval('10.7')

(10, 10.7)

In [ ]:
int

In [18]:
n1=eval(input("enter var1") ) #n1= '100'
n2=eval(input("enter var2"))  #n2= '200'
n1+n2   # '100' + '200' = '300'

enter var1 100.8
enter var2 200

300.8

In [30]:
L=eval(input("len of rectangle:"))
b=eval(input("brd of rectangle:"))
a=L*b
print(a)

len of rectangle: 12
brd of rectangle: 12

144

In [50]:
n1=eval(input("enter var1") ) #n1= '100'
n2=eval(input("enter var2"))  #n2= '200'
n3=eval(input("enter var3"))
avg=(n1+n2+n3)/3
print (f"average of numbers is: {avg}")

enter var1 12
enter var2 23
enter var3 34

average of numbers is: 23.0

In [56]:

str1=input("enter name: ")
str2=input("enter age: ")
str3=input("enter city:")

print(f"my name is {str1} iam {str2} years old i came from {str3}")

enter name:  sreya
enter age:  23
enter city: bollarum

my name is sreya iam 23 years old i came from bollarum

In [46]:
r=eval(input("radius:"))
pi=eval(input("pi :"))
a=pi*r*r
print(f"area of circle is:{a}")

radius: 7
pi : 3.14

area of circle is:153.86

In [58]:

1$=85rs

var1=eval(input("enter amount in dollar"))

SyntaxError: invalid decimal literal (594198584.py, line 1)