**list comprehension**

 -  list comprehension a way to write list operators in a single line

 -  when we apply for loop and if-else conditional statements then the code complication becomes slow

 -  which means it takes much time

 - in order to avoid the time complexity we will use list comprehension

 - list comprehension is a single line code

**case-1: only for loop**

In [7]:
list1=[]
for i in range(10):
    list1.append(i)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
##list1=[][code should write here]
############################
##list1=[<output varaibale> <for loop without semicolon>]

In [12]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
#Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','Bengaluru','PUNE','Mumbai']

input=['hyd','bengaluru','pune','mumbai']
[i.upper() for i in input]

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [23]:
#input=['hyd','bengaluru','pune','mumbai']
#for i in input:
[i.title() for i in input]

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [ ]:
input=['hyd','bengaluru','pune','mumbai']
for i in input:
    print(input.index(i)*10)

In [101]:
input=['hyd','bengaluru','pune','mumbai']
for i in input:
    print(input.index(i)*10)

0
10
20
30

In [25]:
input=['hyd','bengaluru','pune','mumbai']
[input.index(i)*10 for i in input]

[0, 10, 20, 30]

In [81]:
input=['hyd','bengaluru','pune','mumbai']
summ=0
for i in range(len(input)):
    summ=summ+i

summ

6

In [70]:
input=['hyd','bengaluru','pune','mumbai']
l=[input.index(i)*10 for i in input]
sum(l)

60

**warlus operator**

In [91]:
summ=0
[summ:=summ+i for i in range(1,11)]

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [93]:
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

**case-2 for loop if condition**

In [111]:
#even number
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f'even:{i}')

even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [ ]:
[<output> <if condn> <for loop>]
[<output> <for condn> <if loop>]

In [15]:
[even:{i} if i%2==0 for i in range(1,11)]

SyntaxError: invalid syntax (3153473591.py, line 1)

In [13]:
[f'even:{i}' for i in range(1,11) if i%2==0]

['even:2', 'even:4', 'even:6', 'even:8', 'even:10']

In [17]:
# Q5) # Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

   #output=[ben#galuru',mu#mbai']


input=['hyd','ben#galuru','pune','mu#mbai']
[i for i in input if '#' not in i]

['hyd', 'pune']

In [19]:

input=['hyd','ben#galuru','pune','mu#mbai']
[i for i in input if '#' in i]

['ben#galuru', 'mu#mbai']

**case-3 for loop if else**

In [ ]:
 -  case-1 only for loop: [<output> <for loop>

 -  case-2 only for - if : [<output> <for loop> <if condn>]

 -  case-3 only for-if-else : [< ifoutput> <if condn> else <else ouput><for loop>]

In [35]:
list=[]
for i in range(1,10):
    if i%2==0:
        list.append(f'even:{i}')
    else:
        list.append(f'odd:{i}')
    
list

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [29]:
[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,11)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10']

**case-4: for-if-elif-else**

 -  in list comprehension we dont have **elif** represntation

 -  elif aslo represented as **else+if**

 -  in elif we have **elif condition**nand **elif ouput**

 -  else elif_ouput elif_condition

In [ ]:
-  case-1 only for loop: [<output> <for loop>

 -  case-2 only for - if : [<output> <for loop> <if condn>]

 -  case-3 only for-if-else : [< ifoutput> <if condn> else <else ouput><for loop>]

 -  case-4 only for-if-elif-else : [< if output> <if condn>else<elif output>else<elif condn> else <else ouput><for loop>]


** note:**: insted of elif term write if

In [54]:
l=[23,56,78,99,67,45]
[f'{i}:A' if i>95  else f'{i}:B' if i>60  else f'{i}:c'  for i in l]

['23:c', '56:c', '78:B', '99:A', '67:B', '45:c']

In [56]:
l=[23,56,78,99,67,45]
[f'{i}:A' if i>95 \
 else
 f'{i}:B' if i>60 \
 else 
 f'{i}:c'  for i in l]

['23:c', '56:c', '78:B', '99:A', '67:B', '45:c']

**screening paper question**

In [5]:
marks=[45,76,89,53,67,90,82,49,33,99]

In [7]:
# Q1) Filter the students who passes marks>=50
# for i in marks:
#     if i>=50:
#         print(marks.index(i))

[i for i in marks if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [9]:
# Q2) calculate grades of all students
# A: 85+   B: 70-84  C: 50-69 F< 50
for i in marks:
    if i>=85:
        print(f'{i}:A')
    elif i>=70:
        print(f'{i}:B')
    elif i>=50:
        print(f'{i}:C')
    else:
        print(f'{i}:F')

45:F
76:B
89:A
53:C
67:C
90:A
82:B
49:F
33:F
99:A

In [11]:
marks = [45,76,89,53,67,90,82,49,33,99]
grades_list = [f"Marks = {i} : A grade." if i>=85 else f"Marks = {i} : B grade." if i>=70 else f"Marks = {i} : C grade." if i>=50 else f"Marks = {i} : F grade." for i in marks]
print(grades_list)

['Marks = 45 : F grade.', 'Marks = 76 : B grade.', 'Marks = 89 : A grade.', 'Marks = 53 : C grade.', 'Marks = 67 : C grade.', 'Marks = 90 : A grade.', 'Marks = 82 : B grade.', 'Marks = 49 : F grade.', 'Marks = 33 : F grade.', 'Marks = 99 : A grade.']

In [13]:
[f"Marks = {i} : A grade." if i>=85
else f"Marks = {i} : B grade." if i>=70
else f"Marks = {i} : C grade." if i>=50
else f"Marks = {i} : F grade."
for i in marks]

['Marks = 45 : F grade.',
 'Marks = 76 : B grade.',
 'Marks = 89 : A grade.',
 'Marks = 53 : C grade.',
 'Marks = 67 : C grade.',
 'Marks = 90 : A grade.',
 'Marks = 82 : B grade.',
 'Marks = 49 : F grade.',
 'Marks = 33 : F grade.',
 'Marks = 99 : A grade.']

In [15]:
# Q3) Add 5 marks grace to failed

# for i in marks:
#     if i<50:
#         print(i+5)
[i+5 for i in marks if i<50]

[50, 54, 38]

In [17]:
# Q4) top 5
marks
# with out using sorted or sort method sort all the values

[45, 76, 89, 53, 67, 90, 82, 49, 33, 99]

In [56]:
marks = [45,76,89,53,67,90,82,49,33,99]
top_3 = [(max_val:= max(marks), marks.remove(max_val))[0] for i in range(4)]
print(top_3)

[99, 90, 89, 82]

In [52]:
marks = [45,76,89,53,67,90,82,49,33,99]
max_val=max(marks) # 99
for i in range(3):
    max_val=max(marks) # 99 90 89
    print(max_val)     # 99 90 89
    marks.remove(max_val) ## 99 gone 90 89

99
90
89

In [23]:
# Find the avergae marks

summ=0
marks = [45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [26]:
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]
# find the distance between l2 with all other points from l1
# which is the maximum distance give me that

In [31]:
import math
l1=[10,20]  # [x1,y1]
l2=[30,40]  # [x2,y2]
##########################################
d1=l2[0]-l1[0] # (x2-x1)^2= 30-10=20
d1_square=math.pow(d1,2)
d1_square
#######################################
d2=l2[1]-l1[1] # (y2-y1)^2= 40-20=20
d2_square=math.pow(d2,2)
d2_square
######################################
summ=d1_square+d2_square
##########################################
math.sqrt(summ)

28.284271247461902

In [33]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

28.284271247461902

In [37]:
import math
l1 = [10, 20]
l2 = [20, 40]
co_diff = 0
for j in range(len(l2)):
    co_diff += pow(l2[j] - l1[j], 2)
    print(pow(l2[j] - l1[j], 2))
    print(co_diff)

output = math.sqrt(co_diff)
output

100
100
400
500

22.360679774997898

In [ ]:
# how to sort the list
# how to find the maximum value of the list
# how to find the minimum value of the list
# how to find the second maximum value of the list
# how to find the second minimum value of the list
# how to find the longest word of a string
# how to find the most repeated word of a string

[10,20,30,35,120,500,490,320,240,120]