In [1]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
# 'Ramesh age is 20'
# 'Suresh age is 25'

In [3]:
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**zip**

In [6]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Sathish 30
Sathish age is 30

In [8]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(j)

20
25
30

In [10]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]

**Dictionary**

- in above example names and age both are together

- when both are together we can pair them

- This can happen using Dictionary

- Dictionary is calles as **key-value** pair

- it represents with curly braces : **{key:value}**

- Ramesh and 20 years both are pair : {'Ramesh':20}

In [24]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [15]:
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [17]:
# start your imaginzation make a dictionary with many ways
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d3={'Ramesh':'20','Suresh':'25','Sathish':30}
d4={'20':'Ramesh','25':'Suresh',30:'Sathish'}
d5={'Ramesh':20,'Ramesh':30}
# If both keys are same it will take the latest value
# Dictionarys kind database
d6={'Ramesh':20,'Ramesh':20}
# Dictionarys does not allow duplicates
d7={'Ramesh':20,'Suresh':20}
# keys plays vital roles
# keys can not be duplicate but values can be duplicate
d8={20:'Ramesh',20:'Suresh'}
d9={True:'true'}
d10={'fruites':['Apple','Banana']} # list is value
#d11={['Apple','Banana']:'fruites'} # list is key
d12={'fruites':('Apple','Banana')} # list is value
d13={('Apple','Banana'):'fruites'} # list is key
d13

{('Apple', 'Banana'): 'fruites'}

In [ ]:
d10={'fruites':['Apple','Banana']} # w
d10={'fruites':('Apple','Banana')} # w
{['Apple','Banana']:'fruites'} # Fail
{('Apple','Banana'):'fruites'} # workings

**list as keys fails becuase list has a mutable behavivour**

**tuple as keys works becuase tuple has immutable behaviour**

**in dictionary keys are very very imortant**

**keys does not change so when we apply list is failin**

 - If both keys are same it will take the latest value
   
 - Dictionarys does not allow duplicates

 - keys plays vital roles

 - keys can not be duplicate but values can be duplicate

In [27]:
d14={'Fruites':{'Apple':20}}
d14

{'Fruites': {'Apple': 20}}

In [33]:
d15={{'Apple:20'}:'Fruites'}
d15

TypeError: unhashable type: 'set'

In [29]:
dict1={'Zpple':70,'Banana':30,'Cherry':50}
dict2={'Apple':20,'Apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}

min(dict1)

'Banana'

In [31]:
max(dict1)

'Zpple'

In [27]:
len(dict1)

3

In [33]:
sorted(dict1)

['Banana', 'Cherry', 'Zpple']

In [43]:
list(reversed(dict1))

['Cherry', 'Banana', 'Zpple']

In [49]:
min(dict2)

'Apple'

In [51]:
len(dict2)

1

In [15]:
sorted(dict2)

['Apple']

In [53]:
min(dict3)

20

In [55]:
max(dict3)

50

In [41]:
dict3={20:'Apple',360:'Banana',50:'Cherry'}
list(reversed(dict3))

[50, 360, 20]

In [37]:
sorted(dict3)

[20, 50, 360]

In [51]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple' in dict1

True

In [53]:
20 in dict1

False

In [55]:
'Apple':20 in dict1

SyntaxError: illegal target for annotation (1635405859.py, line 1)

**keys are important in dictionaries**

In [64]:
dict1={'Apple':20,'Banana':30,'Cherry':50}

'Apple' in dict1
'Banana' in dict1

True

In [68]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [72]:
for i in range(len(dict1)):
    print(i)

0
1
2

**index**

In [75]:
l1=[10,20,30]
l1[0]

10

In [91]:
str1='python'
str1[0]

'p'

In [99]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1[0]

#'apple':20 in dict1

KeyError: 0

**how to extract the values**

 -  in dictinary we have a concept key:value pair

 -  keys are very imp

 -  in order to get values we need to take keys help

In [103]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1['Apple']

20

In [109]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [107]:
for i in dict1:
    print(dict1[i])

20
30
50

In [111]:
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [115]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
# 'Ramesh age is 20'
# 'Suresh age is 25'
names={'Ramesh':20,'Suresh':25,'Sathish':30}

In [123]:
for i in names:
    print(f'{i} age is {names[i]}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [ ]:
# range means only number will come
#num is not usefulit is a par

In [133]:
d={'Fruites':['Apple','Banana','Cheery']}

#get cheery

d['Fruites'][2]

'Cheery'

In [147]:
d={'Fruites':{'Apple':['sweet','sour','green']}}
len(d)
  # dic dic list

1

In [151]:
d['Fruites']['Apple'][2]

'green'

In [157]:
d={'Fruites':[{'Cost':[50]}]}

len(d)    #dic list dict

1

In [171]:
d['Fruites'][0]['Cost']

[50]

In [205]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}

d['Cost'][0]['1kg'][2]      #2nd keyvalue is used in this

40

In [207]:
d['Cost'][0]['2kg']

In [203]:
d={'Fruits':{'orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}

d['Fruits']['orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**how to create a empty dictionary**

 -  now onwards focus on creation of empty list,strings

 -  we will take empty list will use append operation

 -  we will take empty string will use concatenation

 -  we will take empty dictionary will use key:value pair concept

In [214]:
#list

l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [236]:
#string

s=''
s=s+'p'  #'' +'p'
s=s+'y' #'p'+'y'
s

'py'

In [232]:
# dictinaries

d={}
d['Ramesh']=20
d['Suresh']=25   
d

{'Ramesh': 20, 'Suresh': 25}

In [ ]:
d={}
d['Ramesh']=20
d['Suresh']=25   #d[key]=value
d

In [244]:
names=['Ramesh','Suresh','Sathish']   #i
age=[20,25,30]  #j

print(names)
print(age)

['Ramesh', 'Suresh', 'Sathish']
[20, 25, 30]

In [261]:
names=['Ramesh','Suresh','Sathish']  
age=[20,25,30]
d={}
for i,j in zip(names,age):
    print(i,j)
    d[i]=j

d

Ramesh 20
Suresh 25
Sathish 30

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [265]:
yasss=['sreya','Anurudh']
age=[21,22]
d={}
for i,j in zip(yasss,age):
    print(i,j)
    d[i]=j

d

sreya 21
Anurudh 22

{'sreya': 21, 'Anurudh': 22}

**dictionary cmprehension**

 - for lits comprehension we written everything inside list

 - for dictionary comprehension we write inside dictionary

In [ ]:
#       list comprehension:   [<output> <forloop>]

# dictionary comprehension:  {<key:value> <forloop>}

In [275]:
yasss=['sreya','Anurudh']
age=[21,22]
{i:j for i,j in zip(yasss,age)}

{'sreya': 21, 'Anurudh': 22}

**mutable-immutable**

 -  list are mutable

 -  dictionaries are also mutable

 -  strings are immutable

 -  tuple are immutable

 -  in dictionaries we can change the values using keys

In [283]:
d={'sreya': 21, 'Anurudh': 22}
d['Anurudh']=25
d

{'sreya': 21, 'Anurudh': 25}

In [287]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
- clear
- copy
- keys
- values
- items

In [325]:
d={'sreya': 21, 'Anurudh': 22}
print(d)
d.clear()
d

{'sreya': 21, 'Anurudh': 22}

{}

In [327]:
d1={'sreya': 21, 'Anurudh': 22}
d2={'Munni':15}
d2=d1.copy()
d2

{'sreya': 21, 'Anurudh': 22}

In [303]:
d1.keys()

dict_keys(['sreya', 'Anurudh'])

In [315]:
d1.values()

dict_values([21, 22])

In [317]:
d1.items()

dict_items([('sreya', 21), ('Anurudh', 22)])

In [1]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
keys=d.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [3]:
type(keys)

dict_keys

In [5]:
# i got mistaken im assuming this is list type
keys.count('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**Convert dictionary to list**

- in order to convert dictionary to list

- first we need to seperate keys and values

- then apply list type casting

In [8]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
keys=d.keys()
keys_list=list(keys)
keys_list

['Ramesh', 'Suresh', 'Sathish']

In [10]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [12]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
items=d.items()
items_list=list(items)
items_list

[('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)]

In [14]:
type(keys_list),type(keys)

(list, dict_keys)

In [16]:
keys_list.count('Ramesh')

1

In [ ]:
list === string  using join
string === list  using split
list ==== dict   zip 
dict === list     typecasting

In [18]:
['Ramesh':20]

SyntaxError: invalid syntax (280770841.py, line 1)

In [20]:
# input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
# output= {'Firstname':['virat','rohit','ms'],
#          'Secondname':['kohli','sharma','dhoni'],
#          'cname':['rcb','mi','csk']}

# idea : first convert string to list
#       from there extract 3 lists
#        1) fname 2) sname  3) cname
#       from 3 lists create dictionary

In [32]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input.split(';')
###################################################
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])
######################################################
d['fname']=fname
d['Sname']=sname
d['Cname']=cname
d

{'fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohli', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}

**pop-popitem**

In [40]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.pop('Ramesh')

20

In [36]:
d

{'Suresh': 25, 'Sathish': 30}

In [44]:
l1=['Ramesh','Suresh','Sathish']
l1.remove('Ramesh')
l1

['Suresh', 'Sathish']

In [48]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30,'l':8}
d.popitem()

('l', 8)

In [50]:
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [52]:
l1=['Ramesh','Suresh','Sathish']
l1.pop()
l1

['Ramesh', 'Suresh']

- **pop** in dictionary, similar analogy **remove** in list

- **pop item** in dictionary, similar analogy **pop** in list

**get**

In [56]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.get('Ramesh')

20

In [58]:
d['Ramesh']  # key as an index

20

**update**

- update is similar analogy **list extend**

- take two dictionarys and apply update method

In [61]:
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d2={'Manish': 20, 'Mahesh': 25, 'Saresh': 30}
d1.update(d2)
d1

{'Ramesh': 20,
 'Suresh': 25,
 'Sathish': 30,
 'Manish': 20,
 'Mahesh': 25,
 'Saresh': 30}

In [63]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l1.extend(l2)
l1

['Ramesh', 'Suresh', 'Sathish', 20, 30, 40]

- **update in dictionary**, similar analogy **list extend**

**setdefault**

- suppose an alreday existed dictionary available

- we can update the dictionary with new key:value pair

In [67]:
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d1.setdefault('Mansih')
d1.setdefault('Mahesh',35)
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Mansih': None, 'Mahesh': 35}

- **setdefault** in dictionary, similar analogy **list append**

- always rember dictionary is a key:value pair concept

- it never involves index opertaions

- thats why we dont have any index or find methods 

- we have get method to extract values using key

**fromkeys**

- create a dictionary with different keys but same value

- fromkeys will take an argument **iterable**

- try to provide an iterator i.e string,list,tuple

In [77]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'100')

{'Ramesh': '100', 'Suresh': '100', 'Sathish': '100'}

In [87]:
d={}
d.fromkeys('ppythonnnn')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [81]:
d={}
d.fromkeys('100')

{'1': None, '0': None}

- **pop** in dictionary, similar analogy **remove** in list

- **pop item** in dictionary, similar analogy **pop** in list

- **update in dictionary**, similar analogy **list extend**

- **setdefault** in dictionary, similar analogy **list append**

- **get** in dictionary, similar analogy **list index**

- list has count , string has count and tuple also has count

    - but dictionarys does not have **count**

    - becuase dictionary does not allow **duplicates**

- strings has find but list does not have