**list comprehension 4 methods**

In [ ]:
#method 1:  [output for loop]
#method 2:  [ output for loop if condn]
#method 3:  [if output if condn else elseoutput for loop]
#method 4:  [idf output if condn else elif output  elif condn else else out for loop]

**Lambda Functions**

 -  lambda functions represents fnctions in a single line

 -  it is similar anology to list comprehension 

 -  to reduce the time complexity will go for lambda functions

$pattern-1$: **function with one argument**

In [19]:
def mul(a):
    return(a*a)

ans=mul(10)
ans

1000

In [ ]:
#syntax
#function_name= lambda <argument> :<return output>

#in the above 

#function name=mul
#argument name=a
#return output=a*a

In [25]:
mul=lambda a : a*a
mul

In [27]:
mul=lambda a : a*a
mul(20)

400

In [31]:
def cube(a):
    return(a*a*a)

cube(100)

1000000

In [29]:
cube=lambda a : a*a*a

cube(100)

1000000

$pattern-2$ : **function with two arguments**

In [36]:
def add(a,b):
    return(a+b)

add(10,20)

30

In [ ]:
#syntax
#function_name= lambda <argument1>,<argument2> :<return output>

In [42]:
add=lambda a,b : a+b
add(1,3)

4

$pattern-3$: **function with three arguments**

In [62]:
def avg(a,b,c):
    return round((a+b+c)/3,2)

avg(9,23,45)

25.67

In [60]:
avg=lambda a,b,c: round((a+b+c)/3,2)
avg(10,22,30)

20.67

$pattern-4$: **default arguments**

In [65]:
avg= lambda a,b,c=21: round((a+b+c)/3,2)
avg(23,45)

29.67

In [73]:
mul=lambda a: a*a
add= lambda a,b: a+b
avg=lambda a,b,c: round((a+b+c)/3,2)
avg= lambda a,b,c=21: round((a+b+c)/3,2)

$pattern-5$ : 


 -  list cases

In [128]:
input=['hyd','beneguluru','mumbai','pune']
#output =['Hyd']
output=[]
for i in input:
    output.append(i.title())

output
########################################
#output=[i.title() for i in input]

['Hyd', 'Beneguluru', 'Mumbai', 'Pune']

In [102]:
#step-1: lambda <variable> : <output>
lambda i : i.capitalize()

In [108]:
#qn-1:  from where you get i

#from step 1 : lambda <variable>: <output>
lambda i : i.capitalize()

In [110]:
#step-2: lambda <variable>: <output>,iterator>
lambda i : i.capitalize(),input

(<function __main__.<lambda>(i)>, ['hyd', 'beneguluru', 'mumbai', 'pune'])

In [112]:
#step-3: map(lambda <variable>: <output>,iterator>)
map(lambda i : i.capitalize(),input)

In [114]:
#step-4: list(map(lambda <variable>: <output>,iterator>))
list(map(lambda i : i.capitalize(),input))

['Hyd', 'Beneguluru', 'Mumbai', 'Pune']

In [116]:
lambda i : i.capitalize()
lambda i : i.capitalize(),input
map(lambda i : i.capitalize(),input)
list(map(lambda i : i.capitalize(),input))

['Hyd', 'Beneguluru', 'Mumbai', 'Pune']

In [130]:
input=['hyd','beneguluru','mumbai','pune']
#output =['HYD']

list(map(lambda i: i.upper(),input))

['HYD', 'BENEGULURU', 'MUMBAI', 'PUNE']

In [140]:
input=['hyd','beneguluru','mumbai','pune']
#output =[O,1,2]

list(map(lambda i : input.index(i),input))

[0, 1, 2, 3]

In [174]:
input='hello how are you'
#output=['Hello', How]

list(map(lambda i : i.capitalize(),input.split()))

['Hello', 'How', 'Are', 'You']

**filter**

 -  filter is apply on lambda functions to retrive the true output

 -  map will just map the functions and iterator

 -  when we apply the condition map will give true or false

 -  filter willl use instead of map

In [190]:
 input=['hyd','beneg#luru','mumbai','p#ne']
#output =[ben,pun#ne]
list(map(lambda i : '#' in i ,input))

[False, True, False, True]

In [192]:
input=['hyd','beneg#luru','mumbai','p#ne']
#output =[ben,pun#ne]
list(filter(lambda i : '#' in i ,input))

['beneg#luru', 'p#ne']

In [195]:
input=['hyd','beneg#luru','mumbai','p#ne']
#output=[hyd,mumbai]

list(filter(lambda i : '#'not in i ,input))

['hyd', 'mumbai']

**reduce**

 -  reduce will helpful to perform math operations using lambda functions

 -  it is a method under a package called : **functools**

In [221]:
list1=[1,2,3,4]
sum(list1)

10

In [223]:
list1=[1,2,3,4]
summ=0
for i in list1:
    summ=summ+i

print(summ)

10

In [225]:
#warles operator
summ=0
[summ:=summ+i for i in list1]
summ

10

In [ ]:
#reduce(lambda arg : output,iterator

In [ ]:
import functools
functools.reduce()
####################
from functools import reduce
##########################
import functools as ft
ft.reduce()

In [259]:
list1=[1,2,3]
from functools import reduce
lambda summ,i:summ+i
lambda summ,i:summ+i,list1
reduce(lambda summ,i:summ+i,list1)

6

In [241]:
from functools import reduce
reduce(lambda summ,i:summ+1,list1)

2

In [263]:
list1=[1,2,3,4,5]
summ=200
for i in list1:
    summ=summ+i

print(summ)

215

In [261]:
list1=[1,2,3,4,5]
from functools import reduce
lambda summ,i: summ+i
lambda summ,i:summ+i,list1 #by defalut 0
lambda summ,i:summ+i,list1,200
reduce(lambda summ,i:summ+i,list1,200)

215