In [ ]:
================== Basic Python ==============================
- Variables

- Data types

- Type conversion

- Print

- eval and input

- Basic codes

- Packages

- conditional statements

- try and except

- functions

- for loop

- while loop

=================== Intermediate python =======================
- Strings

- Lists

- List Comprhension

- Tuple** ====== > You should

- Sets  ====== > You should

- Dictionary

- Lambda functions

- File handling

============ OOPS Concepts ================= (ML)

- Basic representations

- Inbuilt functions

    - print

    - type

    - len

    - sum

    - max

    - min

    - sorted

    - reveresed

- concatenation

- indexing

- mutable or immutable concept

- slice

- methods

**Basic Representations**

In [4]:
name='python'
name

'python'

In [6]:
print(name)

python

In [8]:
name="python"
name

'python'

- python by defualt gives output in **single quotes**

- when we print the string the output display **without quotes**

In [11]:
str1="I love 'Python'"
print(str1)

I love 'Python'

In [13]:
str2='I love "Python"'
print(str2)

I love "Python"

**Doc string**

- triple quotes also called as doc string

- triple quotes means the user try to convey some information

In [16]:
name='python'
type(name)

str

In [18]:
print(<>)
type(<>)
eval(<>)
input()
len()
sum()
max()

SyntaxError: invalid syntax (910313109.py, line 1)

**len**

In [21]:
name='python'
len(name)

6

In [23]:
len('hai how are you')

15

**max**

In [26]:
max('python')

'y'

In [28]:
for i in 'python':
    print(ord(i),i)

112 p
121 y
116 t
104 h
111 o
110 n

**min**

In [31]:
sum('python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**sorted**

- sorted means either ascending or descending order

- ascending order : Small to Big

- descending : Big to Small

In [35]:

sorted('python')
# By default ascending
# can i change the order?

['h', 'n', 'o', 'p', 't', 'y']

**iterable**: Anything that can be print using loop

/

In [39]:
def add(a,b):
    print(a+b)
add(10,20)  ############# Works

30

In [41]:
def add(a,b):
    print(a+b)
add(a=10,b=20) ########## Works

30

In [1]:
def add(a,/,b):
    print(a+b)
add(a=10,b=20)

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a'

In [1]:
def add(a,/,b):
    print(a+b)
add(10,b=20)

30

In [47]:
def add(a,/,b):
    print(a+b)
add(a=10,20)

SyntaxError: positional argument follows keyword argument (3787002837.py, line 3)

In [51]:
a,/,b
a=10 b=10  ==== fail
a=10 30   ==== fail
10  b=30     === pass

SyntaxError: invalid syntax (1943380135.py, line 1)

In [53]:
def add(a,b):
    print(a+b)
add(10,20)  ############### Works

def add(a,b):
    print(a+b)
add(a=10,b=20) ########## Works

def add(a,/,b):
    print(a+b)
add(a=10,b=20)   ########### F F  / a=10  b=20

def add(a,/,b):
    print(a+b)
add(10,b=20)  ##########  Pass    b=20

def add(a,/,b):
    print(a+b)
add(a=10,20) ====== slash before not working

SyntaxError: positional argument follows keyword argument (2717681794.py, line 19)

In [55]:
(a,/,b)
a=10  b=20  ===== > F
a=10  20    ===== > F
10    20   ===== > W
10   b=20  ===== > W

SyntaxError: invalid syntax (1018621010.py, line 1)

In [57]:
sorted(iterable='python')

TypeError: sorted expected 1 argument, got 0

**Note:** 

- / before dont use argument name

- / after you can use argument name, that is our wish

- (*) indicates no need maintain the order of the arguments

In [60]:
add(10,c=20)

TypeError: add() got an unexpected keyword argument 'c'

In [62]:
add(10,20)

30

In [64]:
def add(a,/,*,b,c):
    print(a+b+c)

add(10,20,30)

TypeError: add() takes 1 positional argument but 3 were given

**Note**

(*) indicates provide the argument name

In [3]:
sorted('python',True)

# / before dont use ==== correct
# * after you should use === wrong

TypeError: sorted expected 1 argument, got 2

In [5]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [ ]:
sorted('python')  # w  by default reverse=False
sorted(iterable='python') # F
sorted('python',reverse=True) # W
sorted(iterable='python',reverse=True) # F
sorted('python',True) # F

**reveresd**

In [1]:
reversed(sequence='prashanth')

TypeError: reversed() takes no keyword arguments

In [3]:
ans=reversed('prashanth')
ans

- Answer saved at address memory location

- we can see the answer by using for loop or list

- whenever we see less than greater than symbol answer

- try to apply for loop or list

In [8]:
for i in ans:
    print(i)

h
t
n
a
h
s
a
r
p

In [10]:
ans=reversed('prashanth')
list(ans)

['h', 't', 'n', 'a', 'h', 's', 'a', 'r', 'p']

**Concatenation**

In [13]:
str1='hello'
str2='python'
str1+str2

'hellopython'

In [ ]:
str1-str2  # see the error
str1*str2  # see the error
str1/str2  # see the error

In [17]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [19]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
str1-str2:
TypeError: unsupported operand type(s) for -: 'str' and 'str'

str1/str2:
TypeError: unsupported operand type(s) for /: 'str' and 'str'

str1(sequence)*3:
TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
'python'*3

'pythonpythonpython'

In [25]:
str1='hello '
str2='python'
str1+str2

'hello python'

In [27]:
str1='hello'
str2=' python'
str1+str2

'hello python'

In [29]:
str1='hello'
str2='python'
str1+' '+str2

'hello python'

- Basic represenations

- min max len

- sorted  

- reveresd

- concatenation

In [ ]:
# every day after the class till 12 you need to be in Lab
# 140Python book also
# 5qns you need 
# whatsapp group online and offline

**index**

In [33]:
str1='python'
str1

'python'

In [ ]:
-6 -5 -4 -3 -2 -1
p  y  t  h  o  n
0  1  2  3  4  5

- access the charcters or elements use square bracket

In [36]:
str1[0],str1[-6]
str1[1],str1[-5]
str1[2],str1[-4]
str1[3],str1[-3]
str1[4],str1[-2]
str1[5],str1[-1]

('n', 'n')

In [ ]:
str1[0]
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]

str1[i]

In [38]:
str1='python'
n=len(str1)
for i in range(0,n):
    print(str1[i])

p
y
t
h
o
n

In [40]:
str1='hello how are you'
n=len(str1)
for i in range(0,n):
    print(str1[i])

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [42]:
str1='python'
n=len(str1)
for i in range(0,n):
    print(str1[i])

p
y
t
h
o
n

In [ ]:
# Q1)
# the postive index of p is 0
# the postive index of y is 1
# the postive index of n is 2

# Q2)
# the negative index of p is -6
# the negative index of y is -5
# the negative index of n is -4 and so on

# Q3)
# The postvive index is 0 and negtaive index is -6 for p

In [44]:
# Q1) first you need to print the numbers

#-6 -5 -4 -3 -2 -1
#p  y  t  h  o  n
#0  1  2  3  4  5
for i in range(0,6):print(i,end=' ')
for i in range(-6,0):print(i,end=' ')

0 1 2 3 4 5 -6 -5 -4 -3 -2 -1

In [46]:
str1='python'
n=len(str1)
for i in range(0,n):
    print(f'the postive index of {str1[i]} is {i}')

the postive index of p is 0
the postive index of y is 1
the postive index of t is 2
the postive index of h is 3
the postive index of o is 4
the postive index of n is 5

In [84]:
str1='python'
n=len(str1)
for s in range(-6,0):
    print(s)

-6
-5
-4
-3
-2
-1

In [96]:
for i in range(0,6):
    print(i,i-6)
    print(f'the postive index is {i},neagtive index is {i-6} for : {str2[1]}')
    print(f'the postive index is {i} for: {str2[i]}')
    print(f'the negative index is {i-6} for: {str2[i]}')

0 -6
the postive index is 0,neagtive index is -6 for : y
the postive index is 0 for: p
the negative index is -6 for: p
1 -5
the postive index is 1,neagtive index is -5 for : y
the postive index is 1 for: y
the negative index is -5 for: y
2 -4
the postive index is 2,neagtive index is -4 for : y
the postive index is 2 for: t
the negative index is -4 for: t
3 -3
the postive index is 3,neagtive index is -3 for : y
the postive index is 3 for: h
the negative index is -3 for: h
4 -2
the postive index is 4,neagtive index is -2 for : y
the postive index is 4 for: o
the negative index is -2 for: o
5 -1
the postive index is 5,neagtive index is -1 for : y
the postive index is 5 for: n
the negative index is -1 for: n

- **in** operator directly access the elements

- **range** opeartor access the elements using index or numbers

- any problem statement if you need numbers then go for range

- otherwise go for in opeartor directly

In [99]:
str1='python'
for i in str1:
    print(i)

for i in range(0,6):
    print(i,str1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n

In [ ]:
# Q4) write a progarm to find the indexes of 'a' in a given string
#     str1='ola ola ola'

# Q5) write a program to find the sum of all indexes of 'a' in a given string
#    str1='ola ola ola'

# Q6) write a progarm to find the number of 'a' in a given string
#    str1='ola ola ola'

# Q7) write a progarm to find the vowels and its count in a given string
#    str1='hai how are you'

# Q8) write a progarm to find the vowels which are repaeting then print only 
#     one time 
#     example: helleo  
#      e is coming two times but we want to print only one time

In [40]:
# Q4) write a progarm to find the indexes of 'a' in a given string
#     str1='ola ola ola'
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

2
6
10

In [107]:
# Q5) write a progarm to find the indexes of 'a' in a given string
#     str1='ola ola ola'
str1='ola ola ola'
summ=0
count=0
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)
        summ=summ+i
        count=count+1

print('the number of a are:',count)
print('the sum of indexes are:',summ)

2
6
10
the number of a are: 3
the sum of indexes are: 18

In [10]:
# Q6) write a progarm to find the number of 'a' in a given string
#    str1='ola ola ola'
# in this problem we are counting number of 'a'
# we are not using index
count=0
str1='ola ola ol'
for i in str1:
    if i=='a':
        count=count+1
        print(count)

1
2

In [113]:
# Q7) write a progarm to find the vowels and its count in a given string
#    str1='hai how are you'
str1='hai how are you'
s1='aeiou'
count=0
for i in str1:
    if i in s1:
        print(i)
        count=count+1
print(count)

a
i
o
a
e
o
u
7

In [24]:
#q)a
str1='aaaeb' #  'ae'
s2=''
for i in str1:
    if i in 'aeiou' and i not in s2:
        print(i)
        s2=s2+i

a
e

In [117]:
'nidi'+'nidi'

'nidinidi'

In [119]:
str1='hello'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [121]:
l=[10,20,30]
l[1]=200
l

[10, 200, 30]

In [123]:
l=[10,20,30]
l[0]=200
l

[200, 20, 30]

**slice**

 -  slice means cut into pieces

 -  it has similar anology with for loop rnage

 -  in the for loop range we have start,stop,step

 -  range(start,stop,step)  str[start:stop:step]

In [ ]:
-17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 h   e   l   l   o       h   o  w      a  r  e      y  o  u
 0   1   2   3   4   5   6   7  8   9 10  11 12 13 14 15 16

**case-1**

**str[:stop]**

  -  by default start=0

  -  by default step=positive direction 1

  -  last=stop -1

In [50]:
str1='hello how are you'
str1[:5]

#start=0 step=1 stop=6-1=4

'hello'

**case-2**

**str[start:]**

  -  by default start=start value

  -  by default step=positive direction 1

  -  last=last index

In [96]:
str1[3:]

' ola ola'

**case-3**

**str[start:stop]**

  -  by default start=start value

  -  by default step=positive direction 1

  -  last=stop-1

In [84]:
str1[3:-3]

'lo how are '

In [88]:
str1[-15:1]

''

**case-4**

**str[start:stop:step]**

  -  by default start=start value

  -  if step is positive value

            -  last=stop-1

  -  else

        - last =step+1

In [94]:
# -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#  h   e   l   l   o       h   o  w      a  r  e      y  o  u
#  0   1   2   3   4   5   6   7  8   9 10  11 12 13 14 15 16
str1[1:15:3]

'eooa '

In [98]:
str1[-16:13:2]

'el o r'

In [108]:
str1[0:8:3]

'hlh'

In [100]:
str1[::-1]

'uoy era woh olleh'

In [102]:
num=12345
int(str(num)[::-1])

54321

In [110]:
str1[2:150]

'llo how are you'

In [112]:
str1[:]

'hello how are you'

In [116]:
str1[2:15:2]

'lohwaey'

 -  basic representations

 - inbuilt functions

     - min max len type sum reversed sorted

 - concatenation

 - index

 -  in vs range

 - mutable vs imutable

 - slice

## Methods

In [126]:
name='python'
dir(name)   #

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**upper**

In [131]:
str1='welcome'
str1.upper()

'WELCOME'

 - upper

 - lower

 - title

 - capitalize

 -  casefold

In [133]:
str1='welComE'
str1.lower()

'welcome'

In [146]:
str1='welcome to naresh it'
str1.capitalize()

'Welcome to naresh it'

In [29]:
str1='wElCome to naresh it'
str1.casefold()

'welcome to naresh it'

In [150]:
str1='welcome to naresh it'
str1.title()

'Welcome To Naresh It'

**diff b/w methods andddd inbuilt functions**

In [ ]:
len('python') ======= 'python'.upper()
min('value')  ======= 'value'.upper()
max()
type()
print()
sum()

#########################################

str1.lower()
str1.capitalize()
str1.title()
str1.casefold()

**center**

In [3]:
  str1='pythonn'
  str1.center(10,'/')

#first here 12 means the length of string becoms 12 characters
# already python string has 6 characters
#remaining 6 charatecrs pad has slash '/'

'/pythonn//'

In [ ]:
# assume that i already have 
#string='***python  '

**strip-lstrip-rstrip**

 -  strip will remove the characters both left and right side

 -  lstrip will remove the characters on left side

 -  rstrip will remove the characters on right side

In [194]:
str1='***anu****'
str1.strip('*')

'anu'

In [236]:
str1='   python****'
str1,str1.strip(),str1.strip('*'),str1.rstrip('*'),str1.lstrip('*')

('   python****', 'python****', '   python', '   python', '   python****')

In [240]:
str3='    pyhton*****'
str4=str3.strip()
str4.rstrip('*')

'pyhton'

In [244]:
str3='    pyhton*****'
str3.strip().rstrip('*')

'pyhton'

**startswith**

In [2]:
str1='hello how are you'
str1.startswith('h')

True

In [4]:
str1='hello how are you'
str1.startswith('H')

False

In [6]:
str1='hello how are you'
str1.startswith('hello')

True

In [13]:
str1='hello how are you'
str1.startswith('str1')

False

**endswith**

In [9]:
str1='hello how are you'
str1.endswith('hello')

False

In [11]:
str1='hello how are you'
str1.endswith('str1')

False

In [15]:
str1='hello how are you'
str1.endswith('you')

True

**count**

$case-1$

In [40]:
str1='ola ola ola'

#in the above string how many 'a' are available



str1='ola ola ola'
count=0
for i in str1:
     if i=='a':
         count=count+1

print(count)

3

In [89]:
str1='ola ola ola'
count=0
n=len(str1)
for i in range (0,n):
     
         print(str1[i])
         count=count+1

o
l
a

o
l
a

o
l
a

In [50]:
str1='ola ola ola'
str1.count('a')

3

In [52]:
str1='ola ola ola'
str1.count('ola ')

2

$case-2$

In [58]:
# o  l  a    o  l  a    o  l  a
# 0  1  2 3  4  5  6  7 8  9  10

str1.count('a',4)

#'a' after 4 how many a are present

2

In [74]:
str1.count('a',4,6)

#'a' b/w 4  and 6 how many a are present

0

In [62]:
str1.count('a',4,7)

1

In [66]:
str1.count('ola',5)

1

In [72]:
str1.count('a',-9,7)

2

In [91]:
str1.count('z')

0

#str1='ola ola ola'
#count the number of substring:'ola'
#with out using count method


**sliding window approach**

 -  fix the slice value first :  **str1[i:i+3]**

 -  then increase the slice by 1 : **for i in range(len(str1))**

 -  whenever it is equal to substring :**str1[i:i+3]=='ola'**

 -  update the count :  **count=count+1

#aplly the slice operator   str1[i : i+3]=='ola'  logic
                          i =0  0 : 0+3 0:3

In [126]:
str1='ola ola ola'
count=0
for i in range(len(str1)):
     if str1[i:i+3]=='ola':
               count=count+1

print(count)

3

**replace**

In [130]:
str1='welcome'  # 'welcome'
str1[2]=='L'

False

In [150]:
str1='welcome' 
str1.replace('l','L')

'weLcome'

In [152]:
str1='wellllcome' 
str1.replace('l','L')          #by default alll occurancesss

'weLLLLcome'

In [148]:
str1='wellllcome' 
str1.replace('l','L',2)          #2 is the limit

'weLLllcome'

In [158]:
str1='wellllcome' 
str1.replace('l','L',-2)

'weLLLLcome'

In [156]:
str1.replace('z','Z')

'wellllcome'

- by default it will replace all the oocurances

 - the users can provide count which indictaes how many letters can replace

 -  if the sub string not found it will return the original string itself

In [164]:
str1='restart'

#replace 'r' with $

str1.replace('r','$',-1)

'$esta$t'

In [168]:
str2='resta'
str3='rt'
str3.replace('r','$')

'$t'

In [174]:
('resta')*('$t')

TypeError: can't multiply sequence by non-int of type 'str'

In [178]:
*idea-1:*

str1='restart'
s1=str1[0:5]
s2=str1[5:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [194]:
##**idea-2**

str1='restart'
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [198]:
str1='restart restart'
s1=str1[0:8]
s2=str1[8:]
s3=s2.replace('r','$',1)
s1+s3

'restart $estart'

**index**

In [207]:
str1='restartrestart'
str1.index('a'),str1.index('r')

#by default first string index wll come

(4, 0)

In [209]:
str1='restart'
str1.index('z')

ValueError: substring not found

In [211]:
str1='restart'
str1.index('r')

0

In [215]:
str1='restart'
str1.index('r',2)

5

In [223]:
str1='restart restart'
str1.index('r',5)

5

In [248]:
str1='restart restart'
str1.index('r',6)

8

In [229]:
str1='restart restart'
str1.index('r',0)   #0
str1.index('r',1)   # 1= 0+1
str1.index('r',6)   #6=5+1
str1.index('r',9)   #9=8+1

13

In [233]:
str1='restart restart'
i1=str1.index('r',0)   #0
i2=str1.index('r',i1+1)   # 1= 0+1
i3=str1.index('r',i2+1)   #6=5+1
i4=str1.index('r',i3+1)   #9=8+1

print(i1,i2,i3,i4)

0 5 8 13

**find**

 -  tell me the diff b/w index and find

In [242]:
str1='restart restart'
str1.find('r',7)

8

In [244]:
str1='restart restart'
str1.find('r',14)

-1

In [ ]:
str1='virat.kohli@rcb.com'
str2='rohit.sharma@mi.com'
str3='ms.dhoni@csk.com'

# extract the firstname from str1: virat
# extract second name from str1: kohli
# extract company name from str1: rcb

str4='a.b@c.com'

# idea: try to get the trigger points

str1='hello how'

str1[0:5]

In [5]:
str1='hello how'
id=str1.index('o')
str1[0:id+1]

'hello'

In [7]:
str1='virat.kohli@rcb.com'
id1=str1.index('.')
str1[0:id]

'virat'

In [61]:
str1='virat.kohli@rcb.com'
id=str1.index('@')
str1[6:id]

'kohli'

In [15]:
str1='virat.kohli@rcb.com'
id1=str1.index('.')

id2=str1.index('.',id1+1)
str1[id1+1:id2]

'kohli@rcb'

In [43]:
str2='rohit.sharma@mi&com'
id=str2.index('.')
str2[0:id]

'rohit'

In [41]:
id=str2.index('@')
str2[6:id]

'sharma'

In [57]:
str2='rohit.sharma@mi&com'
id=str2.index('&')
str2[13:id]

'mi'

In [ ]:
#count find index replac

In [ ]:
str1='virat.kohli@rcb.com'
str2='rohit.sharma@mi.com'
str3='ms.dhoni@csk.com'
#first name from str1:virat
#second name from str1:kohli
#company name from str1:rcb
str4='a.b@c.com'
step1: extract dot index
step2:index of @
step3 : index of second dot

In [1]:
str1='virat.kohli@rcb.com'
id=str1.index('.')
firstName=str1[0:id]
print(firstName)
id1=str1.index('@')
secondName=str1[id+1:id1]
print(secondName)
id2=str1.index('.',id+1)
companyName=str1[id1+1:id2]
print(companyName)

virat
kohli
rcb

In [13]:
def extract(str1):
 str1='virat.kohli@rcb.com'
 id=str1.index('.')
 firstName=str1[0:id]
 print(firstName)
 id1=str1.index('@')
 secondName=str1[id+1:id1]
 print(secondName)
 id2=str1.index('.',id+1)
 companyName=str1[id1+1:id2]
 print(companyName)
extract ('virat.kohli@rcb.com')

virat
kohli
rcb

**split**
  
 -  split is used to convert a string to list of elements

-  by default it will split based on space

In [6]:
str1='hi how are you'
str1.split()

['hi', 'how', 'are', 'you']

In [8]:
str1='hi how ,are you'
str1.split(',')

['hi how ', 'are you']

In [10]:
str1='hi how , are you'
str1.split()

['hi', 'how', ',', 'are', 'you']

In [12]:
str1='hi how ,are you'
str1.split('o')

['hi h', 'w ,are y', 'u']

**join**

In [15]:
str1='hi how are you'
l=str1.split() #splitted using space so use space to join
l
' '.join(l)

'hi how are you'

In [17]:
str1='hi how , are you'
l=str1.split()
l
','.join(l)

'hi,how,,,are,you'

In [19]:
str1='hi how , are you'
l=str1.split()
'*'.join(l)

'hi*how*,*are*you'

In [ ]:
- upper/lower/casefold
- title/captalize
- centre
- lstrip/strip/strip
- count
- replace
- index/find
- split/join

In [21]:
dir('python')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
isalnum',
isalpha',
isascii',
'isdecimal',
'isdigit',
'isidentifier',
'islower',
'isnumeric',
'isprintable',
'isspace',
'istitle',
'isupper',

In [32]:
str1='the telephone number is 123456'
for i in str1.split():
    if i.isdigit():
    
        print(i,end=' ')

123456

In [47]:
str1='the telephone number is 123456'
str1.split()

['the', 'telephone', 'number', 'is', '123456']