In [1]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [7]:
type(tuple1)

tuple

In [17]:

list2=('A','B','C')
list4=(1,2,3,4,'Apple','B','C',True,False,10,5,20+30j)
list4

(1, 2, 3, 4, 'Apple', 'B', 'C', True, False, 10, 5, (20+30j))

In [19]:
#max
list1=(1,2,3,4)
max(list1)

4

In [21]:
#len
list1=(1,2,3,4,6.5)
len(list1)

5

In [35]:
tuple2=('Apple','Day','Banana','Cat')
sorted(tuple2)

['Apple', 'Banana', 'Cat', 'Day']

In [29]:
num=reversed('Apple')
tuple(num)

('e', 'l', 'p', 'p', 'A')

In [37]:
tuple(reversed(tuple2))

('Cat', 'Banana', 'Day', 'Apple')

In [33]:
sorted(list1)

[1, 2, 3, 4, 6.5]

In [39]:
list1=(1,2,3,4)
list2=('A','B','C')

list1*list2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [41]:
list1=(1,2,3,4)
list2=('A','B','C')

list1+list2

(1, 2, 3, 4, 'A', 'B', 'C')

**index**

In [31]:
  
   #  -6 -5 -4  -3  -2  -1
   #  10 20 30 'A' 'B' 'C'
   #  0   1 2   3   4   5
tupl1=(10,20,30,'A','B','C')
tupl1[0],tupl1[-6]

(10, 10)

In [25]:
tuple1=(10,20,30,'A','B','C','D')

for i in range(0,7):
    print(i,i-7)
    print(f'the postive index is {i},neagtive index is {i-7} for : {tuple1[i]}')
    print(f'the postive index is {i} for: {tuple1[i]}')
    print(f'the negative index is {i-7} for: {tuple1[i]}')

0 -7
the postive index is 0,neagtive index is -7 for : 10
the postive index is 0 for: 10
the negative index is -7 for: 10
1 -6
the postive index is 1,neagtive index is -6 for : 20
the postive index is 1 for: 20
the negative index is -6 for: 20
2 -5
the postive index is 2,neagtive index is -5 for : 30
the postive index is 2 for: 30
the negative index is -5 for: 30
3 -4
the postive index is 3,neagtive index is -4 for : A
the postive index is 3 for: A
the negative index is -4 for: A
4 -3
the postive index is 4,neagtive index is -3 for : B
the postive index is 4 for: B
the negative index is -3 for: B
5 -2
the postive index is 5,neagtive index is -2 for : C
the postive index is 5 for: C
the negative index is -2 for: C
6 -1
the postive index is 6,neagtive index is -1 for : D
the postive index is 6 for: D
the negative index is -1 for: D

In [29]:
tuple1=(10,20)
tuple1[1]

20

In [11]:
list1=(1,2,3)
list1[0]=[40]
list1

TypeError: 'tuple' object does not support item assignment

In [23]:
l1=(10,20,30,40,50, 'A', 'B', 'C','D', 'E', 'apple','banana')
l1[:1]

(10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E')

In [33]:
list1=(10,20,30,'A','B','C')
print('list1 before class i should see list1 output',list1)
list1.clear()
print('l1 after apply clear method list',list1)

list1 before class i should see list1 output (10, 20, 30, 'A', 'B', 'C')

AttributeError: 'tuple' object has no attribute 'clear'

In [35]:
list1=(10,20,30,'A','B','C')
l2=list1.copy()
list1.clear()
print(list1)
print(l2)

AttributeError: 'tuple' object has no attribute 'copy'

In [49]:
list1=(10,20,30,'A','B','C','D',10)
list1.count(10)

2

In [55]:
list1=(10,20,30,'A','B','C','D',10)
list1.index('A')

3